<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetFinalBD_ZacaryChevrier.Properties.Settings.BD5B6TP2ChevrierConnectionString"
            connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BD5B6TP2Chevrier;Persist Security Info=True;User ID=5B6Chevrier;Password=Anabelle123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>